body {

    background-image: url(Images/1000001842-transformed.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

header {

    display: flex;

}

.titre {

    background-color: rgba(0, 179, 30, 0.1);
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    border-style: solid;
    border-color: antiquewhite;

    box-shadow: 12px 12px 2px 1px rgba(150, 102, 134, 0.5);

    margin-left: 5%;
    margin-top: 2%;
}

.titre h1 {

    color: antiquewhite;
    font-size: 500%;

}


.page {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.page_accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

}

.login {

    height: fit-content;
    width: 400px;

    margin-top: 3%;
    padding-bottom: 2%;

    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 15px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
    box-shadow: 5px 5px rgba(150, 102, 134, 0.15);
}

.modif {

    height: fit-content;
    width: 400px;

    margin-top: 1%;
    padding-bottom: 1%;

    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 15px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
}

.modif2 {

    height: 410px;
    width: 400px;

    margin-top: 1%;
    padding-bottom: 1%;

    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 15px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
}

.entete {

    color: antiquewhite;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.entete h1 {

    background-color: rgba(205, 145, 138, 0.6);
    padding: 20px;

    box-shadow: 10px 10px rgba(150, 102, 134, 0.5);

    border-radius: 5px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 2px;

    font-size: 225%;
}

.zone_formulaire {

    margin-top: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.boite_input {

    position: relative;
    width: 250px;
}

.boite_input input {



    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: antiquewhite;
    border-radius: 5px;
    background: rgba(205, 145, 138, 0.2);
    outline: none;

    color: antiquewhite;
    font-weight: 900;
    font-size: 100%;

    transition: 0.5s;

}

.boite_input span {

    position: absolute;
    bottom: 0;
    padding: 12px;
    pointer-events: none;
    font-size: 100%;
    color: antiquewhite;
    text-transform: uppercase;

    font-weight: 900;

    transition: 0.5s;
}

.boite_input input:valid~span,
.boite_input input:focus~span {

    color: rgba(205, 145, 138, 0.8);
    transform: translateX(10px) translateY(-30px);

    font-weight: 900;
    font-size: 80%;

    background: rgba(250, 235, 215, 0.9);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-collapse: collapse;

    padding: 5px;




}

.boite_input input:valid,
.boite_input input:focus {

    border-style: solid;
    border-width: 2px;
    border-color: rgba(205, 145, 138, 0.8);
    background: rgba(250, 235, 215, 0.7);
    color: rgba(205, 145, 138, 0.8);
}



#envoyer {

    margin-left: 10px;
    width: 100%;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: antiquewhite;
    border-radius: 5px;
    background: rgba(205, 145, 138, 0.6);
    outline: none;

    color: antiquewhite;
    font-weight: 900;
    font-size: 100%;
    box-shadow: 5px 5px rgba(150, 102, 134, 0.5);

    transition: 0.5s
}

#envoyer2 {

    margin-left: 10px;
    width: 90px;

    border-style: solid;
    border-width: 2px;
    border-color: antiquewhite;
    border-radius: 5px;
    background: rgba(205, 145, 138, 0.6);
    outline: none;

    color: antiquewhite;
    font-weight: 900;
    font-size: 100%;
    box-shadow: 5px 5px rgba(150, 102, 134, 0.5);

    transition: 0.5s
}

#annuler {

    margin-left: 10px;
    width: 90px;

    border-style: solid;
    border-width: 2px;
    border-color: antiquewhite;
    border-radius: 5px;
    background: rgba(205, 145, 138, 0.6);
    outline: none;

    color: antiquewhite;
    font-weight: 900;
    font-size: 100%;
    box-shadow: 5px 5px rgba(150, 102, 134, 0.5);

    transition: 0.5s
}



#envoyer:hover {

    background: antiquewhite;
    color: rgba(205, 145, 138, 0.6);
    border-radius: 50px;


}

#envoyer:active {


    transform: scale(0.4);
}

#envoyer2:hover {

    background: antiquewhite;
    color: rgba(205, 145, 138, 0.6);
    border-radius: 50px;


}

#envoyer2:active {


    transform: scale(0.4);
}

.sous_login {

    display: flex;
    justify-content: center;
    align-items: center;


    height: 75px;
    width: 400px;

    padding-top: 1%;
    padding-bottom: 1%;
    ;
    margin-top: 3%;

    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 15px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
}

.boite_par_ici span {

    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;

    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    font-size: 130%;
    color: antiquewhite;
    background: rgba(205, 145, 138, 0.5);
    box-shadow: 5px 5px rgba(150, 102, 134, 0.5);

    font-weight: 900;
}

.boite_par_ici span a {

    color: rgba(150, 102, 134, 0.5);
}


.boite_deja_compte {

    width: 49%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.deja_compte {

    display: flex;
    justify-content: center;
    align-items: center;


    height: 75px;
    width: 400px;

    padding-top: 1%;
    padding-bottom: 1%;
    ;


    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 15px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
}


.boite_module {

    height: 570px;

    min-width: 400px;
    width: 400px;

    margin-top: 2%;
    padding-bottom: 2%;
    padding-right: .7%;

    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 15px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
    vertical-align: middle;
    box-shadow: 10px 10px rgba(150, 102, 134, 0.3);

}

.boite_module2 {

    height: 230px;

    width: 400px;

    margin-top: 3%;
    padding-bottom: 2%;

    align-items: center;

    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 15px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
    vertical-align: middle;
    box-shadow: 5px 5px rgba(150, 102, 134, 0.15);
}

.boite_module3 {

    height: 120px;

    width: 400px;

    margin-top: 3%;
    padding-bottom: 2%;

    align-items: center;

    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 15px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
    vertical-align: middle;
    box-shadow: 5px 5px rgba(150, 102, 134, 0.15);
}

.boite_module4 {

    height: 450px;

    width: 400px;

    margin-top: 3%;
    padding-bottom: 2%;

    align-items: center;

    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 15px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
    vertical-align: middle;
    box-shadow: 5px 5px rgba(150, 102, 134, 0.15);
}

.boite_module5 {

    height: 50px;

    width: 330px;

    margin-top: 10%;
    box-shadow: 5px 5px rgba(150, 102, 134, 0.15);


    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 15px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
    vertical-align: middle;

}


.boite_module_mini {


    margin-left: 5.3%;
    height: 80px;
    font-weight: 500;


    width: 350px;
    vertical-align: middle;
    margin-top: 7%;
    padding-bottom: 10%;

    background-color: rgba(231, 208, 208, .1);
    backdrop-filter: blur(7px);
    color: rgb(158, 130, 130);
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(226, 208, 183);
    border-width: 3px;
    box-shadow: 5px 5px rgba(150, 102, 134, 0.1);
    text-align: center;

    line-height: 40px;
    padding-top: 10%;
    padding-left: 1%;
    padding-right: 2%;

}

.nom_utilisateur_publication {

    width: 50%;
    height: 35px;
    margin-top: 5%;
    margin-left: 23%;
    margin-bottom: -3%;
    padding-top: 2.8%;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 5px 5px rgba(150, 102, 134, 0.15);

    background-color: rgba(213, 173, 162, 0.2);
    backdrop-filter: blur(7px);

    border-radius: 8px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
    text-align: center;
    vertical-align: middle;
    color: rgb(179, 146, 155);

}

.img_fleche {
    height: 30px;
    width: auto;
    padding-top: 7px;
    padding-left: 90px;
}

.boite_deconnecter {

    height: 19px;
    width: 110px;

    margin-left: 57%;
    margin-top: 2%;
    text-align: center;


    background-color: rgba(255, 249, 241, 0.9);
    backdrop-filter: blur(7px);

    border-radius: 5px;
    border-style: solid;
    border-color: rgb(252, 245, 235);
    border-width: 3px;
    vertical-align: middle;
    box-shadow: 5px 5px rgba(240, 214, 231, 0.2);

}

.boite_rediger {

    height: 19px;
    width: 140px;

    margin-left: 20px;
    margin-top: 2%;
    text-align: center;



    background-color: rgba(255, 249, 241, 0.9);
    backdrop-filter: blur(7px);

    border-radius: 5px;
    border-style: solid;
    border-color: rgb(252, 245, 235);
    border-width: 3px;
    vertical-align: middle;
    box-shadow: 5px 5px rgba(240, 214, 231, 0.2);

}

.boite_supprimer {

    height: 19px;
    width: 100px;

    margin-left: 6.5%;
    margin-top: 5%;
    text-align: center;


    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 5px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
    vertical-align: middle;

}

.boite_modifier {

    height: 19px;
    width: 80px;

    margin-left: 6.5%;
    margin-top: 5%;
    text-align: center;
    box-shadow: 5px 5px rgba(150, 102, 134, 0.2);


    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 5px;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
    vertical-align: middle;

}


.boite_annuler {

    height: 19px;
    width: 100px;

    margin-left: 55%;
    margin-top: 1%;
    text-align: center;


    background-color: rgba(250, 235, 215, 0.7);
    backdrop-filter: blur(7px);

    border-radius: 5px;
    border-style: solid;
    border-color: rgb(168, 165, 162);
    border-width: 3px;
    vertical-align: middle;


}

.b_modif {

    height: 19px;
    width: 140px;

    margin-left: 29%;
    margin-top: 1%;
    text-align: center;

    box-shadow: 5px 5px rgba(150, 102, 134, 0.2);

    background-color: rgba(250, 235, 215, 0.2);
    backdrop-filter: blur(7px);

    border-radius: 5px;
    border-style: solid;
    border-color: rgb(239, 210, 181);
    border-width: 3px;
    vertical-align: middle;

}


textarea {
    width: 300px;
    height: 100px;
    font-size: 16px;
    color: #eab3b3;

}

.boites_modif {

    padding-left: 45px;
}


label {
    font-size: 18px;
    color: #9a5e5e;

}

a {
    text-decoration: none;
    color: #b57c7c;
    
}

.deco {

    padding-left: 8px;
    color: #9a5e5e;
    font-size: 20px;

}

.bienvenue {
    padding-left: 10px;
}

footer {
    margin-top: 10px;
    background-color: rgba(232, 207, 181, 0.823);
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 1;
    width: 100%;
}